<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
<link rel="stylesheet" type="text/css" href="~/css/styles.css" />
<head>
</head>
<body>
<div class="container">
  <div class="jumbotron">
<h3>Welcome to the World Data Center</h3>
</div>
<div class="middle">
<p><a href="/cities">See all cities</a></p>
<p><a href="/countries">See all countries</a></p>
<p><a href="/languages">See all country languages</a></p>
</body>
</div>
</div>
